*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}
html
{
    font-size: 62.5%;
}
body{
    background-color: rgb(139, 56, 56);
}

.cont {
    overflow-y: hidden;
}

.hide{
    display: none;
}

#myInput{
    padding-top: 1rem; 
    width: 115.5rem;
    height: 3rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 4.85rem;
    font-size: 3rem;
    background-color: #fff;
    border: .1rem .1rem .1rem #fff;
    border-radius: 1rem 1rem 0px 0px;
}

input::placeholder{
    padding-left: 53.5rem;
    color: black;
    letter-spacing: .2rem;
    opacity: 0.5;
    font-size: 2rem;
}

#myUL{
    padding-top: 2rem;
    padding-left: 54rem;
    background-color: cornsilk;
    height: 115rem;
    list-style-type: none;
    width: 61.5rem;
    left: 5rem;
    top: 7rem;
    position: absolute;
    opacity: 0.5;
 } 

#myUL a{
    text-decoration: none;
    letter-spacing: .5rem;
    font-size: 2.5rem;
    background-color: blanchedalmond;
    color: black;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    /* opacity: 0;
    pointer-events: none; */
}

#myUL a:hover{
    background-color: white;
    /* opacity: 0; */
}

.icon{
    position: relative;
    width: 3rem;
    height: 3.5rem;
    color: #00B4CC;
    top: 4%;
    font-size: 3rem;
    right: 7%;
    background-color: #fff;
}

.icon:hover{
    cursor: pointer;
}

.images img{
width: 115rem;
height: 115rem;
position: absolute;
top: 65rem;
left: 63rem;
transform: translate(-57.5rem,-57.5rem);
box-shadow: .1rem .1rem 1rem .5rem red;
opacity: 0.5;
z-index: -1;
}
@media(max-width: 980px)
{
    html{
        font-size: 40%;
    }
}