*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
html{
    font-size: 62.5%;
}
#resturant{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 8rem;
    border-style: solid;
    border-width: .5rem;
    border-color: white;
    margin-top: 1.5rem;
    border-radius: 5rem;
    background-color:rgb(69, 55, 107);
    animation: h1 1 3s linear;
}
.cards{
    width: 38rem;
    border-radius: .5rem;
    margin-bottom: 2%;
    background-attachment: fixed;
    margin-top: 2%;
    box-shadow: .2rem .2rem .1rem white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    background-color: tomato;
}
.cards:hover{
    cursor: pointer;
    opacity: 0.7;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#sweets{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 0px;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 8rem;
    background-color:rgb(69, 55, 107);
    animation: h1 1 3s linear;

}
#grocery{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 0px;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 8rem;
    background-color:rgb(69, 55, 107);
    animation: h1 1 3s linear;
}
#chocolate{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 0px;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 8rem;
    background-color:rgb(69, 55, 107);
    animation: h1 1 3s linear;
}

#garments{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 0px;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 8rem;
    background-color:rgb(69, 55, 107);
    animation: h1 1 3s linear;
}

#books{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 0px;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 8rem;
    background-color:rgb(69, 55, 107);
    animation: h1 1 3s linear;
}

#furniture{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 0px;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 8rem;
    background-color:rgb(69, 55, 107);
    animation: h1 1 3s linear;
}
@keyframes h1{
    0%{
        font-size: 10px;
        color: white;
    }
    25%{
        font-size: 20px;
        color: rgb(252, 8, 57);
    }
    50%{
        font-size: 30px;
        color: green;
    }
    100%{
        font-size: 40px;
        color: yellow;
    }
}
@media(max-width: 1200px)
{
    html{
        font-size: 50%;
    }
}
@media(max-width: 980px)
{
    html{
        font-size: 40%;
    }
}
@media(max-width: 795px)
{
    html{
        font-size: 35%;
    }
}
@media(max-width: 693px)
{
    html{
        font-size: 30%;
    }
}
@media(max-width: 595px)
{
    html{
        font-size: 25%;
    }
}
@media(max-width: 495px)
{
    html{
        font-size: 20%;
    }
}
@media(max-width: 400px)
{
    html{
        font-size: 15%;
    }
}
@media(max-width: 300px)
{
    html{
        font-size: 12%;
    }
}
@media(max-width: 240px)
{
    html{
        font-size: 10%;
    }
}