*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
.cont {
    overflow-y: hidden;
}
body{
    background-color: black;
    background-size: cover;
}
.foodsimage img{
    padding-top: 2rem;
    padding-left: 2rem;
    height: 10rem;
    width: 10rem;
    cursor: pointer;
}
.foodsimage img:hover{
    opacity: 0.7;    
}

.foods a{
    color: white;
    text-decoration: none;
    padding-top: 4rem;
    padding-left: 4rem;
    font-size: 1.5rem;
}
.foods a:first-child{
     padding-left: 3rem;
}

.foods a:nth-child(4){
    padding-left: 6rem;
}
.foods a:nth-child(5){
    padding-left: 5.5rem;
}
.foods a:nth-child(7){
    padding-left: 5.7rem;
}
.foods a:nth-child(8){
    padding-left: 6.5rem;
}
.foods a:nth-child(9){
    padding-left: 6.5rem;
}.foods a:nth-child(10){
    padding-left: 6.5rem;
}
.cont img{
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: auto;
    width: 120rem;
    cursor: pointer;
}
.cont img:hover{
    opacity: 0.7;
}
.hide{
    display: none;
}
@media(max-width: 990px)
{
    html{
        font-size: 45%;
    }
}
@media(max-width: 891px)
{
    html{
        font-size: 40%;
    }
}
@media(max-width: 790px)
{
    html{
        font-size: 35%;
    }
}
@media(max-width: 695px)
{
    html{
        font-size: 30%;
    }
}
@media(max-width: 595px)
{
    html{
        font-size: 25%;
    }
}
@media(max-width: 500px)
{
    html{
        font-size: 20%;
    }
}
@media(max-width: 405px)
{
    html{
        font-size: 15%;
    }
}
@media(max-width: 307px)
{
    html{
        font-size: 10%;
    }
}