*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url("../Background image/wood.jpg");
    background-size: 100% 100%;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    padding-top: 2rem;
    text-shadow: 0 0 2rem red;
    animation: ani 5s 1 linear;
}

p{
    color: white;
    font-size: 2.35rem;
    animation: ani 5s 1 linear;
    transition: 3s linear;
    background-color: rgb(53, 53, 158);
}

@keyframes ani{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
        color: yellowgreen;
    }
    100%{
        opacity: 1;
    }
}
.neon:after{
    content: attr(data-text);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    padding-top: 2rem;
    padding: 0 2rem;
    z-index: -1;
    color: red;
}

.neon:before{
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    width: 20%;
    height: 1rem;
    background: #fe3a80;
    z-index: -2;
    opacity: 0.5;
    filter: blur(20px);
}

.image1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-right: 24rem;
}
.image1 img{
    height: 20rem;
    width: auto;
    animation: ani2 5s 1 linear;
}
.image1 img:hover{
    box-shadow: 1rem 1rem 1rem red;
    border-radius: 50%;
    cursor: pointer;
    margin: center;
}
.image2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-right: 20rem;
}
.image2 img{
    height: 20rem;
    animation: ani2 5s 1 linear;
}
.image2 img:hover{
    box-shadow: 1rem 1rem 1rem yellow;
    border-radius: 50%;
    cursor: pointer;
}
.image3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-right: 20rem;
}
.image3 img{
    height: 20rem;
    animation: ani2 5s 1 linear;
}
.image3 img:hover{
    box-shadow: remx 1rem 1rem blueviolet;
    border-radius: 50%;
    cursor: pointer;
}

.image4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-left: 40rem;
}
.image4 img{
    height: 20rem;
    animation: ani2 5s 1 linear;
}
.image4 img:hover{
    box-shadow: 1rem 1rem 1rem black;
    border-radius: 50%;
    cursor: pointer;
}
.image5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-right: 6rem;
}
.image5 img{
    height: 20rem;
    animation: ani2 5s 1 linear;
}
.image5 img:hover{
    box-shadow: 1rem 1rem 1rem brown;
    border-radius: 50%;
    cursor: pointer;
}

.image6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-right: 1rem;
}
.image6 img{
    height: 20rem;
    animation: ani2 5s 1 linear;
}
.image6 img:hover{
    box-shadow: 1rem 1rem 1rem white;
    border-radius: 50%;
    cursor: pointer;
}

.image7{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-right: 14rem;
}
.image7 img{
    height: 20rem;
    animation: ani2 5s 1 linear;
}
.image7 img:hover{
    box-shadow: 1rem 1rem 1rem green;
    border-radius: 50%;
    cursor: pointer;
}

.image8{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-right: 60rem;
}
.image8 img{
    height: 20rem;
    animation: ani2 5s 1 linear;
}
.image8 img:hover{
    box-shadow: 1rem 1rem 1rem skyblue;
    border-radius: 50%;
    cursor: pointer;
}
.point1 p{
    padding-right: 24rem;
}
@keyframes ani2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
        color: yellowgreen;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width:998px)
{
    html {
        font-size: 40%;
    }
}
@media(max-width:834px)
{
    html {
        font-size: 30%;
    }
}
@media(max-width:628px)
{
    html {
        font-size: 25%;
    }
}
@media(max-width:520px)
{
    html {
        font-size: 20%;
    }
}
@media(max-width:425px)
{
    html {
        font-size: 15%;
    }
}
@media(max-width:320px)
{
    html {
        font-size: 10%;
    }
}